/*
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

*/


.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	text-align: center;
}

.grid figure {
	position: relative;
	float: center;
	overflow: hidden;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	
/*
	min-height: 100%;
	max-height: 100%;
*/
}


.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
	
/*
	min-height: 300px;
	max-height: 100%;
	max-width: 100%;
*/
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 2em;
}

@media (max-width: 1350px) {
    .grid figure h2 {
        word-spacing: -0.15em;
				font-weight: 300;
        font-size: 1.6em;
    }
}

@media (max-width: 400px) {
    .grid figure h2 {
        word-spacing: -0.15em;
				font-weight: 300;
        font-size: 1.2em;
    }
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
}



/*---------------*/
/***** Marley *****/
/*---------------*/
figure.effect-marley {
	background-color: #030c17;
}

figure.effect-marley figcaption {
	text-align: left;
}

figure.effect-marley img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

@media only screen and (min-device-width: 480px)  {
	figure.effect-marley:hover img {
		opacity: 0.4;
	}
}
@media only screen and (max-device-width: 480px)  {
	figure.effect-marley img {
		opacity: 0.4;
	}
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}

figure.effect-marley p {
	bottom: 10px;
	text-transform: none;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 10%;
}

@media only screen and (min-device-width: 480px)  {
	figure.effect-marley:hover h2 {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
@media only screen and (max-device-width: 480px)  {
	figure.effect-marley h2 {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

@media only screen and (min-device-width: 480px)  {
	figure.effect-marley:hover h2::after,
	figure.effect-marley:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
@media only screen and (max-device-width: 480px)  {
	figure.effect-marley h2::after,
	figure.effect-marley p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}
@media (max-width: 400px) {
    figure.effect-ming figcaption::before {
			position: absolute;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
			border: 2px solid #fff;
			box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: scale3d(1.4,1.4,1);
			transform: scale3d(1.4,1.4,1);
		}
}

figure.effect-ming h2 {
	margin: 10% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
@media (max-width: 361px) {
	figure.effect-ming h2 {
		margin: -5px 0 -3px 0;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
	}
}



figure.effect-ming p {
	text-transform: none;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

@media only screen and (min-device-width: 480px)  {
	figure.effect-ming:hover h2 {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	figure.effect-ming:hover figcaption::before,
	figure.effect-ming:hover p {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	figure.effect-ming:hover figcaption {
		background-color: rgba(58,52,42,0);
	}

	figure.effect-ming:hover img {
		opacity: 0.4;
	}
}
@media only screen and (max-device-width: 480px)  {
	figure.effect-ming h2 {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	figure.effect-ming figcaption::before,
	figure.effect-ming p {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	figure.effect-ming figcaption {
		background-color: rgba(58,52,42,0);
	}

	figure.effect-ming img {
		opacity: 0.4;
	}
}


/*---------------*/
/***** Lily *****/
/*---------------*/
figure.effect-lily {
	background: white;
}

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	color: black;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
/*
	color: rgba(255,255,255,0.8);
*/
	color: black;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
	text-transform: none;
}

@media only screen and (min-device-width: 480px)  {
	figure.effect-lily:hover img{
		opacity: 0.4;
	}
	figure.effect-lily:hover p {
		opacity: 1;
	}

	figure.effect-lily:hover h2,
	figure.effect-lily:hover p {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	figure.effect-lily:hover p {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
		-webkit-transition-duration: 0.35s;
		transition-duration: 0.35s;
	}
}

@media only screen and (max-device-width: 480px)  {
	figure.effect-lily img{
		opacity: 0.4;
	}
	figure.effect-lily p {
		opacity: 1;
	}

	figure.effect-lily h2,
	figure.effect-lily p {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	figure.effect-lily p {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
		-webkit-transition-duration: 0.35s;
		transition-duration: 0.35s;
	}
}
